<?xml version="1.0" ?>
<web-app>
	<display-name>Budget Meal</display-name>
	<description>BudgetMealApp</description>
	<servlet>
		<servlet-name>AllFoodPlaces</servlet-name>
		<servlet-class>AllFoodPlacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllFoodPlaces</servlet-name>
		<url-pattern>/foodplaces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllPersons</servlet-name>
		<servlet-class>AllPersonsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllPersons</servlet-name>
		<url-pattern>/persons</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllReviews</servlet-name>
		<servlet-class>AllReviewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllReviews</servlet-name>
		<url-pattern>/reviews</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchFoodPlace</servlet-name>
		<servlet-class>SearchFoodPlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFoodPlace</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPerson</servlet-name>
		<servlet-class>AddPersonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPerson</servlet-name>
		<url-pattern>/addperson</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFoodPlace</servlet-name>
		<servlet-class>AddFoodPlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFoodPlace</servlet-name>
		<url-pattern>/addfoodplace</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddReview</servlet-name>
		<servlet-class>AddReviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddReview</servlet-name>
		<url-pattern>/addreview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForwardToSignInPage</servlet-name>
		<servlet-class>SignInPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardToSignInPage</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForwardToSignUpPage</servlet-name>
		<servlet-class>SignUpPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardToSignUpPage</servlet-name>
		<url-pattern>/createaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForwardToPostFoodPlacePage</servlet-name>
		<servlet-class>AddFoodPlacePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardToPostFoodPlacePage</servlet-name>
		<url-pattern>/postfoodplace</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ForwardToHowItWorksPage</servlet-name>
		<servlet-class>HowItWorksPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardToHowItWorksPage</servlet-name>
		<url-pattern>/howitworks</url-pattern>
	</servlet-mapping>
</web-app>
